# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

# Vim files
*~

/src/main/resources/assets/vanillaextension/models/block/template_wall_post.json
/src/main/resources/assets/vanillaextension/models/block/template_wall_side.json
/src/main/resources/assets/vanillaextension/models/block/wall_inventory.json
